<!-- BEGIN_INCLUDE(linkedin:getProfileForCurrentUser) -->
        <linkedin:get-profile-for-current-user>
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
        </linkedin:get-profile-for-current-user>
<!-- END_INCLUDE(linkedin:getProfileForCurrentUser) -->


<!-- BEGIN_INCLUDE(linkedin:getProfileById) -->
        <linkedin:get-profile-by-id id="some-id">
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
        </linkedin:get-profile-by-id>
<!-- END_INCLUDE(linkedin:getProfileById) -->

<!-- BEGIN_INCLUDE(linkedin:getProfileByUrl) -->
        <linkedin:get-profile-by-url url="some-url" profileType="STANDARD"/>
<!-- END_INCLUDE(linkedin:getProfileByUrl) -->

<!-- BEGIN_INCLUDE(linkedin:getNetworkUpdates) -->
        <linkedin:get-network-updates start="10"
                                      count="20"
                                      showHiddenMembers="true"
                                      startDate="2011-08-10T00:00:00-00:00"
                                      endDate="2011-08-10T00:00:00-00:00">
            <linkedin:update-types>
                <linkedin:update-type>PROFILE_UPDATE</linkedin:update-type>
                <linkedin:update-type>RECOMMENDATION_UPDATE</linkedin:update-type>
            </linkedin:update-types>
        </linkedin:get-network-updates>
<!-- END_INCLUDE(linkedin:getNetworkUpdates) -->

<!-- BEGIN_INCLUDE(linkedin:getUserUpdates) -->
        <linkedin:get-user-updates start="10"
                                   count="20"
                                   startDate="2011-08-10T00:00:00-00:00"
                                   endDate="2011-08-10T00:00:00-00:00">
            <linkedin:update-types>
                <linkedin:update-type>PROFILE_UPDATE</linkedin:update-type>
                <linkedin:update-type>RECOMMENDATION_UPDATE</linkedin:update-type>
            </linkedin:update-types>
        </linkedin:get-user-updates>
<!-- END_INCLUDE(linkedin:getUserUpdates) -->

<!-- BEGIN_INCLUDE(linkedin:getUserUpdatesById) -->
        <linkedin:get-user-updates-by-id id="some-id"
                                         start="10"
                                         count="20"
                                         startDate="2011-08-10T00:00:00-00:00"
                                         endDate="2011-08-10T00:00:00-00:00">
            <linkedin:update-types>
                <linkedin:update-type>PROFILE_UPDATE</linkedin:update-type>
                <linkedin:update-type>RECOMMENDATION_UPDATE</linkedin:update-type>
            </linkedin:update-types>
        </linkedin:get-user-updates-by-id>
<!-- END_INCLUDE(linkedin:getUserUpdatesById) -->

<!-- BEGIN_INCLUDE(linkedin:getNetworkUpdateComments) -->
        <linkedin:get-network-update-comments networkUpdateId="some-network-update-id"/>
<!-- END_INCLUDE(linkedin:getNetworkUpdateComments) -->

<!-- BEGIN_INCLUDE(linkedin:getNetworkUpdateLikes) -->
        <linkedin:get-network-update-likes networkUpdateId="some-network-update-id"/>
<!-- END_INCLUDE(linkedin:getNetworkUpdateLikes) -->

<!-- BEGIN_INCLUDE(linkedin:getConnectionsForCurrentUser) -->
        <linkedin:get-connections-for-current-user start="10"
                                                   count="20"
                                                   modificationDate="2011-08-20T00:00:00-00:00"
                                                   modificationType="NEW">
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
        </linkedin:get-connections-for-current-user>
<!-- END_INCLUDE(linkedin:getConnectionsForCurrentUser) -->

<!-- BEGIN_INCLUDE(linkedin:getConnectionsById) -->
        <linkedin:get-connections-by-id id="some-id"
                                        start="10"
                                        count="20"
                                        modificationDate="2011-08-20T00:00:00-00:00"
                                        modificationType="NEW">
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
        </linkedin:get-connections-by-id>
<!-- END_INCLUDE(linkedin:getConnectionsById) -->

<!-- BEGIN_INCLUDE(linkedin:getConnectionsByUrl) -->
        <linkedin:get-connections-by-url url="some-url"
                                         start="10"
                                         count="20"
                                         modificationDate="2011-08-20T00:00:00-00:00"
                                         modificationType="NEW">
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
        </linkedin:get-connections-by-url>
<!-- END_INCLUDE(linkedin:getConnectionsByUrl) -->

<!-- BEGIN_INCLUDE(linkedin:searchPeople) -->
        <linkedin:search-people start="10"
                                count="20"
                                sortOrder="RECOMMENDERS">
            <linkedin:search-parameters>
                <linkedin:search-parameter key="CURRENT_COMPANY">MuleSoft</linkedin:search-parameter>
                <linkedin:search-parameter key="TITLE">Engineer</linkedin:search-parameter>
            </linkedin:search-parameters>
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
        </linkedin:search-people>
<!-- END_INCLUDE(linkedin:searchPeople) -->

<!-- BEGIN_INCLUDE(linkedin:searchPeopleWithFacets) -->
        <linkedin:search-people-with-facets start="10"
                                            count="20"
                                            sortOrder="RECOMMENDERS">
            <linkedin:search-parameters>
                <linkedin:search-parameter key="CURRENT_COMPANY">MuleSoft</linkedin:search-parameter>
                <linkedin:search-parameter key="TITLE">Engineer</linkedin:search-parameter>
            </linkedin:search-parameters>
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
            <linkedin:facets>
                <linkedin:facet key="INDUSTRY">Software</linkedin:facet>
                <linkedin:facet key="PAST_COMPANY">MuleSource</linkedin:facet>
            </linkedin:facets>
        </linkedin:search-people-with-facets>
<!-- END_INCLUDE(linkedin:searchPeopleWithFacets) -->

<!-- BEGIN_INCLUDE(linkedin:searchPeopleWithFacetFields) -->
        <linkedin:search-people-with-facet-fields start="10"
                                                  count="20"
                                                  sortOrder="RECOMMENDERS">
            <linkedin:search-parameters>
                <linkedin:search-parameter key="CURRENT_COMPANY">MuleSoft</linkedin:search-parameter>
                <linkedin:search-parameter key="TITLE">Engineer</linkedin:search-parameter>
            </linkedin:search-parameters>
            <linkedin:profile-fields>
                <linkedin:profile-field>LAST_NAME</linkedin:profile-field>
                <linkedin:profile-field>HONORS</linkedin:profile-field>
            </linkedin:profile-fields>
            <linkedin:facet-fields>
                <linkedin:facet-field>BUCKET_NAME</linkedin:facet-field>
                <linkedin:facet-field>BUCKET_CODE</linkedin:facet-field>
            </linkedin:facet-fields>
            <linkedin:facets>
                <linkedin:facet key="INDUSTRY">Software</linkedin:facet>
                <linkedin:facet key="PAST_COMPANY">MuleSource</linkedin:facet>
            </linkedin:facets>
        </linkedin:search-people-with-facet-fields>
<!-- END_INCLUDE(linkedin:searchPeopleWithFacetFields) -->

<!-- BEGIN_INCLUDE(linkedin:postNetworkUpdate) -->
        <linkedin:post-network-update updateText="some-update-text"/>
<!-- END_INCLUDE(linkedin:postNetworkUpdate) -->

<!-- BEGIN_INCLUDE(linkedin:postComment) -->
        <linkedin:post-comment networkUpdateId="some-network-update-id" commentText="some-comment-text"/>
<!-- END_INCLUDE(linkedin:postComment) -->

<!-- BEGIN_INCLUDE(linkedin:likePost) -->
        <linkedin:like-post networkUpdateId="some-network-update-id"/>
<!-- END_INCLUDE(linkedin:likePost) -->

<!-- BEGIN_INCLUDE(linkedin:unlikePost) -->
        <linkedin:unlike-post networkUpdateId="some-network-update-id"/>
<!-- END_INCLUDE(linkedin:unlikePost) -->

<!-- BEGIN_INCLUDE(linkedin:updateCurrentStatus) -->
        <linkedin:update-current-status status="new-status" postToTwitter="true"/>
<!-- END_INCLUDE(linkedin:updateCurrentStatus) -->

<!-- BEGIN_INCLUDE(linkedin:deleteCurrentStatus) -->
        <linkedin:delete-current-status/>
<!-- END_INCLUDE(linkedin:deleteCurrentStatus) -->

<!-- BEGIN_INCLUDE(linkedin:sendMessage) -->
        <linkedin:send-message subject="some-subject" message="some-message">
            <linkedin:recepient-ids>
                <linkedin:recepient-id>recipientId1</linkedin:recepient-id>
                <linkedin:recepient-id>recipientId2</linkedin:recepient-id>
            </linkedin:recepient-ids>
        </linkedin:send-message>
<!-- END_INCLUDE(linkedin:sendMessage) -->

<!-- BEGIN_INCLUDE(linkedin:sendInviteByEmail) -->
        <linkedin:send-invite-by-email email="some-email"
                                       firstName="some-name"
                                       lastName="some-last-name"
                                       subject="some-subject"
                                       message="some-message"/>
<!-- END_INCLUDE(linkedin:sendInviteByEmail) -->

<!-- BEGIN_INCLUDE(linkedin:postShare) -->
        <linkedin:post-share commentText="some-comment"
                             title="some-title"
                             url="some-url"
                             imageUrl="some-image-url"
                             visibility="ALL_MEMBERS"
                             postToTwitter="true"/>
<!-- END_INCLUDE(linkedin:postShare) -->

<!-- BEGIN_INCLUDE(linkedin:reShare) -->
        <linkedin:re-share shareId="some-share-id"
                           commentText="some-comment"
                           visibility="ALL_MEMBERS"/>
<!-- END_INCLUDE(linkedin:reShare) -->